# Data Structure

1. what are data structures, and why are they important.
   - Data structures are ways of organizing and storing data efficiently. They are important because they help in managing and processing data efficiently, improving performance in operations like searching, sorting, and retrieving information.


2. Explain the difference between mutable and immutable data types with examples.
   - Mutable data types can be modified after creation.
   - Immutable data types cannot be changed after creation.


3. What are the main differences between lists and tuples in Python.
   - Lists are mutable, while tuples are immutable.
   - Lists consume more memory and are slightly slower than tuples.
   - Tuples are often used for fixed collections of items, while lists are used for dynamic collections.


4. Describe how dictionaries store data.
   - Dictionaries store data in key-value pairs using a hashing mechanism. Each key maps to a unique value, allowing quick lookups.


5. Why might you use a set instead of a list in Python.
   - Sets automatically remove duplicates.
   - Sets provide efficient union, intersection, and difference operations.
   - They offer faster membership tests (in operation).


6. What is a string in Python, and how is it different from a list.
   - A string is an immutable sequence of characters, while a list is a mutable sequence of elements.


7. How do tuples ensure data integrity in Python.
   - Since tuples are immutable, their values cannot be changed accidentally, making them reliable for storing fixed data.


8. What is a hash table, and how does it relate to dictionaries in Python.
   - A hash table is a data structure that stores key-value pairs using a hashing function. Python dictionaries use hash tables to provide fast lookup times.


9. Can lists contain different data types in Python.
   - Yes, lists can store mixed data types.


10. Explain why strings are immutable in Python.
   - Strings are immutable to ensure memory efficiency and security, preventing unintended modifications.


11. What advantages do dictionaries offer over lists for certain tasks.
   - Efficient Data Retrieval
   - Meaningful Data Representation
   - Flexibility and Dynamic Updates


12. How do sets handle duplicate values in Python.
   - Sets automatically remove duplicate values when elements are added.


13. Describe a scenario where using a tuple would be preferable over a list.
   - Tuples are useful when you need fixed data that shouldn't change, like storing coordinates.


14. How does the “in” keyword work differently for lists and dictionaries.
   - In lists, in checks if a value exists.
   - In dictionaries, in checks for the existence of a key, not a value.


15. Can you modify the elements of a tuple? Explain why or why not.
   - No, tuples are immutable, meaning elements cannot be changed after creation.


16. What is a nested dictionary, and give an example of its use case.
   - A nested dictionary is a dictionary inside another dictionary, useful for storing structured data.
   student = {
    "name": "Alice",
    "grades": {"math": 90, "science": 85}
     }


17. Describe the time complexity of accessing elements in a dictionary.
   - Accessing elements in a dictionary has O(1) time complexity due to hashing.


18. In what situations are lists preferred over dictionaries.
   - When order matters.
   - When dealing with sequential data.
   - When keys are not needed.


19. Why are dictionaries considered unordered, and how does that affect data retrieval.
   - Dictionaries in Python are considered unordered because they don't maintain any specific order of their key-value pairs.  This means you can't rely on the order in which you added elements to a dictionary when you iterate through it or access its items.


20. Explain the difference between a list and a dictionary in terms of data retrieval.
   - Lists use index-based retrieval (O(n) for searching).
   - Dictionaries use key-based retrieval (O(1) due to hashing).

 1. Write a code to create a string with your name and print it

In [1]:
Name = 'Khushi Jonwal'
print(Name)

Khushi Jonwal

2. Write a code to find the length of the string "Hello World"

In [ ]:
str = "Hello World"
print("length of the string = ",len(str))

length of the string =  11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
str2 = "Python Programming"
string_slice = str2[0:3]
print(string_slice)

Pyt

4.  Write a code to convert the string "hello" to uppercase

In [ ]:
text = "hello"
print(text.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
txt = "I like apple"
print(txt.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
lst.append(10)
print(lst)

[1, 2, 3, 4, 5, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
lst.remove(3)
print(lst)

[1, 2, 4, 5, 10]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
lstt = ['a','b','c','d']
print(lstt[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
c = [10,20,30,40,50]
c.reverse()
print(c)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tupl = (100,200,300)
print(tupl)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. rite a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [1]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1 & s2)

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
person = {"name": "Alice", "age": 30, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [2]:
mydict = {'name': 'Alice', 'age': 30}
print(mydict['name'])

Alice

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)

In [ ]:
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[9, 12, 35, 43, 91]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

 30. Write a code to convert a list of strings into a set.

In [ ]:
str_list = ["apple", "banana", "cherry", "apple"]
str_set = set(str_list)
print(str_set)

{'cherry', 'banana', 'apple'}